---
layout: default
title: Gideon Baldridge
---

{% include header.html %}

<div class="home_content_container">
  <div class="home_projectwrapper">
    <div class="project_container">
      <img class="home_project_image--attribution" src="/images/attribution.png">
      <h3 class="home_project_title project_text">Attribution (current)<h3>
      <div class="row">
        <div class="col-1-3">
          <h4 class="home_project_title_serif">Co-founder, design</h4>
          <a class="home_project_link" href="https://attributionapp.com">AttributionApp.com</a>
        </div>
        <div class="col-2-3">
          <p class="home_project_description">Attribution lets you compare spending and conversions across every ad platform.</p>
        </div>
      </div>
    </div>

    <div class="project_container">
      <img class="home_project_image--bench" src="/images/bench.png">

      <h3 class="home_project_title project_text">Bench.co </h3>
      <div class="row">
        <div class="col-1-3">
          <h4 class="home_project_title_serif">Design, front end, strategy, funnel design &amp; testing.</h4>
          <a class="home_project_link" href="https://bench.co">Bench.co</a> // 
          <a class="home_project_link" href="https://bench.co/guide-to-business-tax">Bench Tax Handbook</a>
        </div>
        <div class="col-2-3">
          <p class="home_project_description">Bench is an online Bookkeeping service that pairs each client with their own professional bookkeeper.  Bench hired me to design a growth engine, complete with a marketing site, growth strategy, ad campaigns, a tested sign-up funnel, and an interactive mini-site to break down small business taxes in the US.  Outside of the main site, I worked on product updates, an iPhone app, and internal billing tools. </p>
        </div>
      </div>
    </div>
  </div>

  <div class="project_container">
    <a href="/mint.html">
      <img class="home_project_image--mint" src="/images/mint.png">
    </a>

    <h3 class="home_project_title project_text">Mint Dentistry </h3>
    <div class="row ">
      <div class="col-1-3">
        <h4 class="home_project_title_serif">Landing page design, branding, Squarespace template customization.</h4>
        <a class="home_project_link" href="http://mintdentistry.com">MintDentistry.com</a>
      </div>
      <div class="col-2-3">
        <p class="home_project_description">Mint is the fastest growing dental office in Dallas.  This innovative dental office is well known for their luxurious offices and modern, comfortable style.  They hired me to translate this reputation into their digital brand including their landing page, website, and online marketing.</p>
      </div>
    </div>
  </div>

  <div class="project_container">
    <a href="/versapay.html">
      <img class="home_project_image--versapay" src="/images/versapay.png">
    </a>
    <h3 class="home_project_title project_text">VersaPay</h3>
    <div class="row">
      <div class="col-1-3">
        <h4 class="home_project_title_serif">Product design, site design, product management.</h4>
        <a class="home_project_link" href="http://versapay.com">VersaPay.com</a>
      </div>
      <div class="col-2-3">
        <p class="home_project_description">VersaPay is an enterprise payment product, built to allow large companies to accept bank and credit card payments online.  My work at VersaPay included product design, site design, product managements and front end development. </p>
      </div>
    </div>
  </div>

  <div class="project_container dribbble">
    <h3 class="home_project_title project_text">Assorted Designs</h3>

    <div class="row">
      <div class="col-1-3">
        <a href="https://dribbble.com/shots/1418437-Bench-Tax-Handbook">
          <img src="https://d13yacurqjgara.cloudfront.net/users/8688/screenshots/1418437/bench_guide_to_business_taxes.png">
        </a>
      </div>
      <div class="col-1-3">
        <a href="https://dribbble.com/shots/818000-Good-talk">
          <img src="https://d13yacurqjgara.cloudfront.net/users/8688/screenshots/818000/video_slide.png">
        </a>
      </div>
      <div class="col-1-3">
        <a href="https://dribbble.com/shots/746776-Code-metrics-app">
          <img src="https://d13yacurqjgara.cloudfront.net/users/8688/screenshots/746776/alfred_dribbble_3d.png">
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-1-3">
        <a href="https://dribbble.com/shots/342597-Dash-CI">
          <img src="https://d13yacurqjgara.cloudfront.net/users/8688/screenshots/342597/ci.png">
        </a>
      </div>
      <div class="col-1-3">
        <a href="https://dribbble.com/shots/342043-Dash">
          <img src="https://d13yacurqjgara.cloudfront.net/users/8688/screenshots/342043/untitled-1.png">
        </a>
      </div>
      <div class="col-1-3">
        <a href="https://dribbble.com/shots/421287-Receipt">
          <img src="https://d13yacurqjgara.cloudfront.net/users/8688/screenshots/421287/request.png">
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-1-3">
        <a href="https://dribbble.com/shots/405296-Wood-dash">
          <img src="https://d13yacurqjgara.cloudfront.net/users/8688/screenshots/405296/ipad_shot.png">
        </a>
      </div>
      <div class="col-1-3">
        <a href="https://dribbble.com/shots/423810-Streamgraph">
          <img src="https://d13yacurqjgara.cloudfront.net/users/8688/screenshots/423810/ipad_shot.png">
        </a>
      </div>
      <div class="col-1-3">
        <a href="https://dribbble.com/shots/405275-Bag-of-money">
          <img src="https://d13yacurqjgara.cloudfront.net/users/8688/screenshots/405275/shot.png">
        </a>
      </div>
    </div>
  </div>

</div>

{% include footer.html %}
