---
layout: default
title: Gideon Baldridge
---

{% include header.html %}

<!-- <div class="content__container">
  {% for post in site.posts %}
    <a class="home__post__link" href="{{ post.url }}">
      <div class="home__post__hover">
        <div class="post__container">
          <h2 class="post__title">{{ post.title }}</h2>
          <h6 class="post__date">{{ post.date | date_to_string }}</h6>
          <p class="post__excerpt">{{ post.excerpt | strip_html}}</p>
        </div>
      </div>
    </a>
  {% endfor %}
</div> -->

{% include footer.html %}

<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="/js/home.js"></script>