---
layout: default
title: Gideon Baldridge
---

{% include header.html %}

<div class="home_content_container">

  <div class="project_container">
    <a href="/mint.html">
      <img class="home_project_image--mint" src="/images/mint.png">
    </a>

    <h1 class="home_project_title project_text">Mint Dentistry </h1>
    <div class="row ">
      <div class="col-1-3">
        <h4 class="home_project_title_serif">Landing page design, branding, Squarespace template customization.</h4>
        <a class="home_project_link" href="http://mintdentistry.com">MintDentistry.com</a>
      </div>
      <div class="col-2-3">
        <p class="home_project_description">Mint is the fastest growing dental office in Dallas.  This innovative dental office is well known for their luxurious offices and modern, comfortable style.  They hired me to translate this reputation into their digital brand including their landing page, website, and online marketing.</p>
      </div>
    </div>
  </div>


</div>

{% include footer.html %}
