---
layout: default
title: Gideon Baldridge
---

{% include header.html %}

<div class="home_content_container">

  <div class="project_container">
    <h3 class="home_project_title project_text">VersaPay</h3>
    <div class="row">
      <div class="col-1-3">
        <h4 class="home_project_title_serif">Product design, site design, product management.</h4>
        <a class="home_project_link" href="http://versapay.com">VersaPay.com</a>
      </div>
      <div class="col-2-3">
        <p class="home_project_description">VersaPay is an enterprise payment product, built to allow large companies to accept bank and credit card payments online.  My work at VersaPay included product design, site design, product managements and front end development. </p>
      </div>
    </div>
  </div>

  <div class="project_container">
    <img src="/images/versapay_site.png">
    <img src="/images/versapay_app.png">
    <img src="/images/versapay_checkout.png">
  </div>


</div>

{% include footer.html %}
