/*
$green:    #5bc28b;
$blue:    #1391a4;
$yellow:  #f9cf4c;
$red:    #e0734d;
$orange:  #fda44e;

$gray-darker:            #1a1627; // #222 -> darker than darkest
$gray-dark:              #36333f; // #333 -> brand primary darkest
$gray:                   #d2cfc3; // #555 -> grey purple  
$gray-light:             #e8e7e2; // #777 -> khakhi 
$gray-lighter:           #f7f6f2; // #eee -> light khaki

$sans:  "Gotham HTF", Helvetica, Arial, sans-serif;
*/

.pipeline .header {
  background: #f6f6f6 !important;
}

@media (max-width: 1180px){
  .content pre > code {
    background: #f7f6f2;
    border: 1px solid #e8e7e2;
  }
}

body.no-literate.atribution .content pre > code {
  background: #f7f6f2;
  border: solid 1px #e8e7e2;
}

.pipeline a, .pipeline .menu a, .pipeline .menu a:visited {
  color: #1391a4;
}

.header h1, .header h1 a, .header h1 a:visited, .menu a.level-1, .menu a.level-1:visited {
  color: #36333f !important;
}

.menu a.active:after {
  background: #1391a4 !important;
}

.content code {
background: #f7f6f2;
}

.pipeline .button, .pipeline .button:visited {
  background: #1391a4;
  color: #fff;
  border: none;
}

.pipeline .button:hover {
  background: #1391a4;
  color: #fff;
  border: none;
}

th:empty{
  display: none;
}

