<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Gideon Baldridge" />
   <meta name="description" content="Gideon Baldridge is a freelance designer in Whistler, BC." />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen, projection" />
   
   <script src="/js/jquery.min.js"></script>
   <script src="/js/d3.min.js"></script>

   <!-- Typekit -->
   <!-- <script type="text/javascript" src="http://use.typekit.com/jpd0pfm.js"></script> -->
   <!-- <script type="text/javascript">try{Typekit.load();}catch(e){}</script> -->
</head>
<body>

<div class="site">
  
  {{ content }}
  
</div>

<script type="text/javascript">
window.Attribution = window.Attribution || [];

window.Attribution.methods = ['identify', 'track', 'page'];

window.Attribution.factory = function(method){
  return function(){
    var args = Array.prototype.slice.call(arguments);
    args.unshift(method);
    window.Attribution.push(args);
    return window.Attribution;
  };
};

for (var i = 0; i < window.Attribution.methods.length; i++) {
  var key = window.Attribution.methods[i];
  window.Attribution[key] = window.Attribution.factory(key);
}

window.Attribution.load = function(callback){
  if (document.getElementById('attribution-js')) return;

  var script = document.createElement('script');
  script.type = 'text/javascript';
  script.id = 'attribution-js';
  script.async = true;
  script.src = '//staging.attribution-client.divshot.io/attribution-staging.js';

  var first = document.getElementsByTagName('script')[0];
  first.parentNode.insertBefore(script, first);
};

window.Attribution.load();

window.Attribution.projectId = 'Dm6bzczfw3lsANRft0bwxg';

window.Attribution.page();</script> 

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-19536497-1', 'auto');
  ga('send', 'pageview');
</script>

</body>
</html>