---
layout: default
---

{% include header.html %}

<div class="content__container">
  <div class="post__container">
    <h2 class="post__title">{{ page.title }}</h2>
    <h6 class="post__date">{{ page.date | date_to_string }}</h6>
    <p class="post__excerpt">{{ content }}</p>
  </div>
</div>

<div class="post__related">
  <h2 class="post__related__header">More Posts</h2>
  {% for post in site.related_posts limit:3 %}
    <a class="home__post__link" href="{{ post.url }}">
      <div class="home__post__hover">
        <div class="post__container">
          <h2 class="post__title">{{ post.title }}</h2>
          <h6 class="post__date">{{ post.date | date_to_string }}</h6>
          <p class="post__excerpt">{{ post.excerpt | strip_html}}</p>
        </div>
      </div>
    </a>
  {% endfor %}
</div>



{% include footer.html %}

